h1 {
  color: blueviolet;
  position: relative;
  bottom: 50px;
}
body {
  background: rgb(95, 144, 235);
}
.container {
  display: block;
  border: 50px solid white;
  border-radius: 15px;
  background: white;
  max-width: 400px;
  line-height: 40px;
  position: relative;
  left: 300px;
  margin-top: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.search-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
select {
  display: block;
  width: 100%;
  padding: 18px;
  border-radius: 5px;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.849);
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}
input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.849);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}
button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.849);
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
button:hover {
  background-color: darkviolet;
}
.city {
  display: block;
  position: relative;
  margin: 0; /* Remove all margins */
  padding: 10px 0; /* Add padding to the top and bottom */
  border-bottom: 1px dashed rgba(156, 154, 154, 0.849);
}
.city:last-child {
  border-bottom: none; /* Remove border from the last city */
}
.date {
  padding: none;
  display: block;
  position: relative;
  bottom: 30px;
  color: rgba(156, 154, 154, 0.957);
}
.time {
  display: flex;
  position: relative;
  bottom: 85px;
  left: 250px;
  font-size: 30px;
  font-weight: bold;
}
small {
  font-size: 15px;
  color: rgb(57, 55, 55);
  position: relative;
  left: 5px;
}
.current-location {
  background-color: rgba(128, 128, 128, 0.1);
}
footer {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 20px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
footer p {
  margin: 0;
  font-size: 16px;
  color: rgba(128, 128, 128, 0.849);
}
a {
  color: blueviolet;
}
a:hover {
  color: darkviolet;
}
